# Ignore Vivado log and journal files
*.jou
*.log
*.str

# Ignore the build output and sim project 
build_output/
sim_project/

# Ignore any Vivado GUI project files
*.xpr
*.hw
*.sim
*.cache
*.runs
*.sim
*.ip_user_files
.Xil/
/dfx_runtime.txt